{{ 'backed-by-ingredients.css' | asset_url | stylesheet_tag }}

<!-- READ EVERY COMMENT CAREFULLY PLEASE -->
<section class="container">
  <div class="row number-flex">
    <div class="col-1">
      <h1>{{ section.settings.heading }}</h1>
      
 {%- assign side_panels = section.blocks | where: 'type', 'side_panel' -%}
{%- if side_panels.size > 0 -%}
  <div class="side-panel product-information-drawer" id="Product-Information-Drawer" tabindex="-1">
    <div class="side-panel-inner">
      <div class="side-panel-header">
        <div>
          <span class="h6">{{ 'products.product.product_information' | t }}</span>
          <side-panel-close class="side-panel-close">{%- render 'svg-icons' with 'close' -%}</side-panel-close>
        </div>
      </div>
      <div class="side-panel-content side-panel-content--has-tabs">
        {%- assign block = side_panels[0] -%}
        <side-panel-content-tabs class="side-panel-content--tabs">
          {%- if block.settings.side_panel_1_label != '' -%}
            <button class="tab-active">{{ block.settings.side_panel_1_label }}</button>
          {%- endif -%}
        </side-panel-content-tabs>
        <div class="side-panel-content--inner">
          {%- if block.settings.side_panel_1_label != '' -%}
            <div class="side-panel-content--tab-panel rte tab-active">
              {{ block.settings.side_panel_1_page.content }}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

    
      <div class="display-flex">
            {% for block in section.blocks %}
              {% if block.type == 'side_panel' %}
                <side-panel-links class="side-panel-links">
                  <button
                    class="btn side-panel-links--link no-js-hidden"
                    data-id="1"
                    style="width: 100%; padding: 16px 0px;"
                  >
                    <span class="btn custom-btn">VIEW NUTRITION FACTS</span>
                  </button>
                </side-panel-links>
              {% endif %}
            {% endfor %}
          </div>
    </div>
    <div class="col-2">
      <div class="box">
        <div class="number-arrow">
          <image
            src="{{ section.settings.arrow | img_url: 'small' }}"
            alt="Arrow"
            class="img-fluid arrow-up"
            loading="lazy"
          />
          <h1>{{ section.settings.stat1 }}</h1>
        </div>
        <p>{{ section.settings.desc1 }}</p>
      </div>
      <div class="box">
        <div class="number-arrow">
          <image
            src="{{ section.settings.arrow | img_url: 'small' }}"
            alt="Arrow"
            class="img-fluid arrow-up"
            loading="lazy"
          />
          <h1>{{ section.settings.stat2 }}</h1>
        </div>
        <p>{{ section.settings.desc2 }}</p>
      </div>
      <div class="box">
        <div class="number-arrow">
          <image
            src="{{ section.settings.arrow | img_url: 'small' }}"
            alt="Arrow"
            class="img-fluid"
            loading="lazy"
          />
          <h1>{{ section.settings.stat3 }}</h1>
        </div>
        <p>{{ section.settings.desc3 }}</p>
      </div>
      <div class="btn btn-mobile">
        <a href="#" class="only-laptop only-destop">{{ section.settings.button }}</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Backed By Ingredients",
  "settings": [
    {
      "type": "image_picker",
      "label": "Arrow",
      "id": "arrow"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Backed By Ingredients"
    },
    {
      "type": "text",
      "id": "stat1",
      "label": "Stat 1",
      "default": "100%"
    },
    {
      "type": "textarea",
      "id": "desc1",
      "label": "Description 1",
      "default": "of our products are made with natural ingredients"
    },
    {
      "type": "text",
      "id": "stat2",
      "label": "Stat 2",
      "default": "100%"
    },
    {
      "type": "textarea",
      "id": "desc2",
      "label": "Description 2",
      "default": "of our products are made with natural ingredients"
    },
    {
      "type": "text",
      "id": "stat3",
      "label": "Stat 3",
      "default": "100%"
    },
    {
      "type": "textarea",
      "id": "desc3",
      "label": "Description 3",
      "default": "of our products are made with natural ingredients"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button",
      "default": "View Nutrition Facts"
    }
  ],
  "blocks": [
     {
      "type": "side_panel",
      "name": "Information side panel",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "side_panel_1_label",
          "label": "Drawer Lable"
        },
        {
          "type": "page",
          "id": "side_panel_1_page",
          "label": "Page"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Backed By Ingredients",
      "category": "Backed By Ingredients"
    }
  ]
}
{% endschema %}
