
Exit
Edit code for LVRG-Dark-Prod/staging

File picker
Search files...
Search files...
product-display-with-text-v2.liquid

Close product-display-with-text-v2.liquid
product-display-with-text-v2.css

Close product-display-with-text-v2.css
backed-by-ingredients.liquid

Close backed-by-ingredients.liquid
has unsaved changes
backed-by-ingredients.css

Close backed-by-ingredients.css
main-product.liquid

Close main-product.liquid
app.js

Close app.js
Recent changes


164 - 6 minutes ago
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
⌄
⌄
⌄
⌄
⌄
⌄
⌄
⌄
⌄
⌄
⌄
      <div class="box">
        <div class="number-arrow">
          <image
            src="{{ section.settings.arrow | img_url: 'small' }}"
            alt="Arrow"
            class="img-fluid"
            loading="lazy"
          />
          <h1>{{ section.settings.stat3 }}</h1>
        </div>
        <p>{{ section.settings.desc3 }}</p>
      </div>
   {% if section.settings.mobile_button !=blank %}
    <button class="your-custom-trigger-class custom-btn desktop_none">{{ section.settings.mobile_button }}</button>
{% endif %}
    <div class="your-custom-popup-class" role="alert">
        <div class="your-custom-popup-container-class ">
              <div class="popup_information">{{ section.settings.popup_title }}</div>
                <div class="popup_content_information">{{ section.settings.popup_content }}</div>
                <img src="{{ section.settings.popup_image | img_url: 'master' }}" loading="lazy" alt="Image 1">
            <a href="#0" class="your-custom-popup-close-class img-replace">X</a>
        </div> 
    </div>
 

       
    </div>
  </div>
             
</section>
        <style>
    .img-replace {
       display: inline-block;
       overflow: hidden;
       text-indent: 100%;
       color: transparent;
       white-space: nowrap;
   }
   
   .your-custom-popup-class {
       position: fixed;
       left: 0;
       top: 0;
       height: 100%;
       width: 100%;
       background-color: rgba(159,163,167,4);
      background: rgba(var(--color-overlay-rgb),.4);
       backdrop-filter: blur(7px);
       opacity: 0;
       visibility: hidden;
       -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
       -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
       transition: opacity 0.3s 0s, visibility 0s 0.3s;
      z-index: 999;
   }
   .your-custom-popup-container-class {
    padding-left: 30px;
    padding-right: 30px;
}
   .your-custom-popup-class.is-visible {
       opacity: 1;
       visibility: visible;
       -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
       -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
       transition: opacity 0.3s 0s, visibility 0s 0s;
       z-index: 999;
   }
   
   .your-custom-popup-container-class {
       position: absolute;
       width: calc(100vw - 15px);
       max-width: 540px;
       margin: 0 auto;
       right: 0;
       top: 0;
       height: 100%;
       background: #1F1F23;
       border-radius: .25em .25em .4em .4em;
       text-align: center;
