{{ 'comparison-table.css' | asset_url | stylesheet_tag }}

{% comment %}
  table-sec.liquid
  Section for displaying a customizable table.
{% endcomment %}
<div class="background-right-top">
<div class="background-right-bottom">
<section class="custom-table" 
    style="background: {{ section.settings.background_color }};
    color: {{ section.settings.font_color }}; 
    border-color: {{ section.settings.border_color }};">

    <h2 class="collapsible-content__heading inline-richtext">
        {{ section.settings.table_heading }}
    </h2>

    <div class="table-container" style="border-color: inherit">
        <table style="background: #343436ff;border-radius: 30px;border-style: hidden;border-color: #1f1f23ff;text-align:center;">
            <thead style="border-color: inherit">
                <tr style="border-color: inherit;">
                <th style="border-color: inherit"></th>
                <th style="border-color: inherit" class="table-pop">
                    <img src="{{ section.settings.product1_pic | img_url: '100x100'}}"/>
                    <p> {{ section.settings.product1_title }} </p>
                </th>
                <th style="border-color: inherit">
                    <img src="{{ section.settings.product2_pic | img_url: '100x100'}}"/>
                    <p> {{ section.settings.product2_title }} </p>
                </th>
                <th style="border-color: inherit">
                    <img src="{{ section.settings.product3_pic | img_url: '100x100'}}"/>
                    <p> {{ section.settings.product3_title }} </p>
                </th>
                <th style="border-color: inherit">
                    <img src="{{ section.settings.product4_pic | img_url: '100x100'}}"/>
                    <p> {{ section.settings.product4_title }} </p>
                </th>
                </tr>
            </thead>
            <tbody style="border-color: inherit">
                {% for block in section.blocks %}
                    <tr style="border-color: inherit">
                        <td style="border-color: inherit">{{ block.settings.row_title }}</td>
                        <td style="border-color: inherit">
                            {% if block.settings.product1_row_radio == 'tick' %}
                                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M10.5 15L13.5 18L19.5 12M28.5 15C28.5 22.4558 22.4558 28.5 15 28.5C7.54416 28.5 1.5 22.4558 1.5 15C1.5 7.54416 7.54416 1.5 15 1.5C22.4558 1.5 28.5 7.54416 28.5 15Z" stroke="#E8E8E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                            {% else %}
                                                                 
                                  <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15 21L18 18M18 18L21 15M18 18L15 15M18 18L21 21M31.5 18C31.5 19.7728 31.1508 21.5283 30.4724 23.1662C29.7939 24.8041 28.7995 26.2923 27.5459 27.5459C26.2923 28.7995 24.8041 29.7939 23.1662 30.4724C21.5283 31.1508 19.7728 31.5 18 31.5C16.2272 31.5 14.4717 31.1508 12.8338 30.4724C11.1959 29.7939 9.70765 28.7995 8.45406 27.5459C7.20047 26.2923 6.20606 24.8041 5.52763 23.1662C4.84919 21.5283 4.5 19.7728 4.5 18C4.5 14.4196 5.92232 10.9858 8.45406 8.45406C10.9858 5.92232 14.4196 4.5 18 4.5C21.5804 4.5 25.0142 5.92232 27.5459 8.45406C30.0777 10.9858 31.5 14.4196 31.5 18Z" stroke="#767676" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                            {% endif %}
                            
                        </td>
                        <td style="border-color: inherit">
                            {% if block.settings.product2_row_radio == 'tick' %}
                               <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M10.5 15L13.5 18L19.5 12M28.5 15C28.5 22.4558 22.4558 28.5 15 28.5C7.54416 28.5 1.5 22.4558 1.5 15C1.5 7.54416 7.54416 1.5 15 1.5C22.4558 1.5 28.5 7.54416 28.5 15Z" stroke="#E8E8E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                            {% else %}
                               <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15 21L18 18M18 18L21 15M18 18L15 15M18 18L21 21M31.5 18C31.5 19.7728 31.1508 21.5283 30.4724 23.1662C29.7939 24.8041 28.7995 26.2923 27.5459 27.5459C26.2923 28.7995 24.8041 29.7939 23.1662 30.4724C21.5283 31.1508 19.7728 31.5 18 31.5C16.2272 31.5 14.4717 31.1508 12.8338 30.4724C11.1959 29.7939 9.70765 28.7995 8.45406 27.5459C7.20047 26.2923 6.20606 24.8041 5.52763 23.1662C4.84919 21.5283 4.5 19.7728 4.5 18C4.5 14.4196 5.92232 10.9858 8.45406 8.45406C10.9858 5.92232 14.4196 4.5 18 4.5C21.5804 4.5 25.0142 5.92232 27.5459 8.45406C30.0777 10.9858 31.5 14.4196 31.5 18Z" stroke="#767676" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                            {% endif %}
                        </td>
                        <td style="border-color: inherit">
                            {% if block.settings.product3_row_radio == 'tick' %}
                               <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M10.5 15L13.5 18L19.5 12M28.5 15C28.5 22.4558 22.4558 28.5 15 28.5C7.54416 28.5 1.5 22.4558 1.5 15C1.5 7.54416 7.54416 1.5 15 1.5C22.4558 1.5 28.5 7.54416 28.5 15Z" stroke="#E8E8E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                            {% else %}
                              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15 21L18 18M18 18L21 15M18 18L15 15M18 18L21 21M31.5 18C31.5 19.7728 31.1508 21.5283 30.4724 23.1662C29.7939 24.8041 28.7995 26.2923 27.5459 27.5459C26.2923 28.7995 24.8041 29.7939 23.1662 30.4724C21.5283 31.1508 19.7728 31.5 18 31.5C16.2272 31.5 14.4717 31.1508 12.8338 30.4724C11.1959 29.7939 9.70765 28.7995 8.45406 27.5459C7.20047 26.2923 6.20606 24.8041 5.52763 23.1662C4.84919 21.5283 4.5 19.7728 4.5 18C4.5 14.4196 5.92232 10.9858 8.45406 8.45406C10.9858 5.92232 14.4196 4.5 18 4.5C21.5804 4.5 25.0142 5.92232 27.5459 8.45406C30.0777 10.9858 31.5 14.4196 31.5 18Z" stroke="#767676" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                            {% endif %}
                        </td>
                        <td style="border-color: inherit">
                            {% if block.settings.product4_row_radio == 'tick' %}
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M10.5 15L13.5 18L19.5 12M28.5 15C28.5 22.4558 22.4558 28.5 15 28.5C7.54416 28.5 1.5 22.4558 1.5 15C1.5 7.54416 7.54416 1.5 15 1.5C22.4558 1.5 28.5 7.54416 28.5 15Z" stroke="#E8E8E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                            {% else %}
                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15 21L18 18M18 18L21 15M18 18L15 15M18 18L21 21M31.5 18C31.5 19.7728 31.1508 21.5283 30.4724 23.1662C29.7939 24.8041 28.7995 26.2923 27.5459 27.5459C26.2923 28.7995 24.8041 29.7939 23.1662 30.4724C21.5283 31.1508 19.7728 31.5 18 31.5C16.2272 31.5 14.4717 31.1508 12.8338 30.4724C11.1959 29.7939 9.70765 28.7995 8.45406 27.5459C7.20047 26.2923 6.20606 24.8041 5.52763 23.1662C4.84919 21.5283 4.5 19.7728 4.5 18C4.5 14.4196 5.92232 10.9858 8.45406 8.45406C10.9858 5.92232 14.4196 4.5 18 4.5C21.5804 4.5 25.0142 5.92232 27.5459 8.45406C30.0777 10.9858 31.5 14.4196 31.5 18Z" stroke="#767676" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                            {% endif %}
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>  
</section>
</div>
</div>
{% schema %}
{
  "name": "Comparison Table",
  "settings": [
    {
        "type": "text",
        "label": "Table Heading",
        "id": "table_heading",
        "default": "Why are people choosing Suja?"
    },
    {
        "type": "image_picker",
        "label": "Product1 Picture",
        "id": "product1_pic"
    },
    {
        "type": "text",
        "label": "Product1, Title",
        "id": "product1_title",
        "default": "Suja Organic Greens Powder"
    },

    {
        "type": "image_picker",
        "label": "Product2 Picture",
        "id": "product2_pic"
    },
    {
        "type": "text",
        "label": "Product2, Title",
        "id": "product2_title",
        "default": "Suja Organic Greens Powder"
    },

    {
        "type": "image_picker",
        "label": "Product3 Picture",
        "id": "product3_pic"
    },
    {
        "type": "text",
        "label": "Product3, Title",
        "id": "product3_title",
        "default": "Suja Organic Greens Powder"
    },

    {
        "type": "image_picker",
        "label": "Product4 Picture",
        "id": "product4_pic"
    },
    {
        "type": "text",
        "label": "Product4, Title",
        "id": "product4_title",
        "default": "Suja Organic Greens Powder"
    },
    {
        "type": "color",
        "label": "Background Color",
        "id": "background_color",
        "default": "#000"
    },
    {
        "type": "color",
        "label": "Font Color",
        "id": "font_color",
        "default": "#fff"
    },
    {
        "type": "color",
        "label": "Border Color",
        "id": "border_color",
        "default": "#fff"
    }
  ],

  "blocks" : [
    {
        "type": "table_row",
        "name": "Table Row",
        "settings":[
            {
                "type": "text",
                "label": "Row, Title",
                "id": "row_title",
                "default": "Functional Mushrooms"
            },
            {
                "type": "radio",
                "label": "Product1, newRow",
                "id": "product1_row_radio",
                "options": [
                  {
                    "value": "tick",
                    "label": "Tick"
                  },
                  {
                    "value": "cross",
                    "label": "Cross"
                  }
                ],
                "default": "cross"
            },
            {
                "type": "radio",
                "label": "Product2, newRow",
                "id": "product2_row_radio",
                "options": [
                  {
                    "value": "tick",
                    "label": "Tick"
                  },
                  {
                    "value": "cross",
                    "label": "Cross"
                  }
                ],
                "default": "cross"
            },
            {
                "type": "radio",
                "label": "Product3, newRow",
                "id": "product3_row_radio",
                "options": [
                  {
                    "value": "tick",
                    "label": "Tick"
                  },
                  {
                    "value": "cross",
                    "label": "Cross"
                  }
                ],
                "default": "cross"
            },
            {
                "type": "radio",
                "label": "Product4, newRow",
                "id": "product4_row_radio",
                "options": [
                  {
                    "value": "tick",
                    "label": "Tick"
                  },
                  {
                    "value": "cross",
                    "label": "Cross"
                  }
                ],
                "default": "cross"
            }
        ]
    }
  ],
  
  "presets" : [
    {
        "category": "Table",
        "name": "Table Sec"
    }
  ]
}
{% endschema %}
