{{ 'comparison-table.css' | asset_url | stylesheet_tag }}

{% comment %}
  table-sec.liquid
  Section for displaying a customizable table.
{% endcomment %}

<section class="custom-table" 
    style="background: {{ section.settings.background_color }};
    color: {{ section.settings.font_color }}; 
    border-color: {{ section.settings.border_color }};">

    <h2 class="collapsible-content__heading inline-richtext">
        {{ section.settings.table_heading }}
    </h2>

    <div class="table-container" style="border-color: inherit">
        <table style="background: #343436ff;border-radius: 30px;border-style: hidden;border-color: #1f1f23ff;text-align:center;">
            <thead style="border-color: inherit">
                <tr style="border-color: inherit;">
                <th style="border-color: inherit"></th>
                <th style="border-color: inherit">
                    <img src="{{ section.settings.product1_pic | img_url: '100x100'}}"/>
                    <p> {{ section.settings.product1_title }} </p>
                </th>
                <th style="border-color: inherit">
                    <img src="{{ section.settings.product2_pic | img_url: '100x100'}}"/>
                    <p> {{ section.settings.product2_title }} </p>
                </th>
                <th style="border-color: inherit">
                    <img src="{{ section.settings.product3_pic | img_url: '100x100'}}"/>
                    <p> {{ section.settings.product3_title }} </p>
                </th>
                <th style="border-color: inherit">
                    <img src="{{ section.settings.product4_pic | img_url: '100x100'}}"/>
                    <p> {{ section.settings.product4_title }} </p>
                </th>
                </tr>
            </thead>
            <tbody style="border-color: inherit">
                {% for block in section.blocks %}
                    <tr style="border-color: inherit">
                        <td style="border-color: inherit">{{ block.settings.row_title }}</td>
                        <td style="border-color: inherit">
                            {% if block.settings.product1_row_radio == 'tick' %}
                                <svg class="bold_check_icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19.1 14.4" style="enable-background:new 0 0 19.1 14.4;" xml:space="preserve">
                                    <path fill="#A6C956" d="M6.5,9.1C6.6,9,6.7,9,6.7,9c0.5-0.5,1-1,1.5-1.4c0.5-0.5,0.8-0.8,1.3-1.3c0.6-0.6,1.3-1.2,1.9-1.9
                                        c0.6-0.6,1.3-1.2,1.9-1.9c0.6-0.5,1.1-1,1.7-1.6c0.5-0.5,1.3-0.5,1.8,0c0.2,0.2,0.5,0.4,0.6,0.6c0.6,0.6,0.6,1.5-0.1,2l-0.1,0.1
                                        c-0.6,0.6-1.1,1.1-1.7,1.7c-0.6,0.6-1.4,1.3-2,1.9C13,7.8,12.4,8.4,11.8,9c-0.6,0.6-1.4,1.3-2,1.9s-1.3,1.2-1.9,1.9
                                        c-0.2,0.2-0.4,0.4-0.6,0.6c-0.3,0.3-0.8,0.3-1.2,0c-0.3-0.3-0.5-0.5-0.8-0.8c-0.6-0.5-1-1-1.6-1.4C3.1,10.6,2.5,10,1.8,9.3
                                        c-0.3-0.4-0.7-0.7-1-1C0.4,8,0.4,7.2,0.8,6.9C1,6.6,1.2,6.4,1.5,6.1c0.6-0.6,1.4-0.6,2,0c0.7,0.6,1.4,1.4,2.1,2
                                        C5.9,8.4,6.2,8.8,6.5,9.1z"></path>
                                </svg>
                            {% else %}
                                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.94189 16L16.3721 2.60399" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"></path>
                                        <path d="M16.3721 15.915L2.94191 2.51903" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"></path>
                                </svg>
                            {% endif %}
                            
                        </td>
                        <td style="border-color: inherit">
                            {% if block.settings.product2_row_radio == 'tick' %}
                                <svg class="bold_check_icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19.1 14.4" style="enable-background:new 0 0 19.1 14.4;" xml:space="preserve">
                                    <path fill="#A6C956" d="M6.5,9.1C6.6,9,6.7,9,6.7,9c0.5-0.5,1-1,1.5-1.4c0.5-0.5,0.8-0.8,1.3-1.3c0.6-0.6,1.3-1.2,1.9-1.9
                                        c0.6-0.6,1.3-1.2,1.9-1.9c0.6-0.5,1.1-1,1.7-1.6c0.5-0.5,1.3-0.5,1.8,0c0.2,0.2,0.5,0.4,0.6,0.6c0.6,0.6,0.6,1.5-0.1,2l-0.1,0.1
                                        c-0.6,0.6-1.1,1.1-1.7,1.7c-0.6,0.6-1.4,1.3-2,1.9C13,7.8,12.4,8.4,11.8,9c-0.6,0.6-1.4,1.3-2,1.9s-1.3,1.2-1.9,1.9
                                        c-0.2,0.2-0.4,0.4-0.6,0.6c-0.3,0.3-0.8,0.3-1.2,0c-0.3-0.3-0.5-0.5-0.8-0.8c-0.6-0.5-1-1-1.6-1.4C3.1,10.6,2.5,10,1.8,9.3
                                        c-0.3-0.4-0.7-0.7-1-1C0.4,8,0.4,7.2,0.8,6.9C1,6.6,1.2,6.4,1.5,6.1c0.6-0.6,1.4-0.6,2,0c0.7,0.6,1.4,1.4,2.1,2
                                        C5.9,8.4,6.2,8.8,6.5,9.1z"></path>
                                </svg>
                            {% else %}
                                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.94189 16L16.3721 2.60399" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"></path>
                                        <path d="M16.3721 15.915L2.94191 2.51903" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"></path>
                                </svg>
                            {% endif %}
                        </td>
                        <td style="border-color: inherit">
                            {% if block.settings.product3_row_radio == 'tick' %}
                                <svg class="bold_check_icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19.1 14.4" style="enable-background:new 0 0 19.1 14.4;" xml:space="preserve">
                                    <path fill="#A6C956" d="M6.5,9.1C6.6,9,6.7,9,6.7,9c0.5-0.5,1-1,1.5-1.4c0.5-0.5,0.8-0.8,1.3-1.3c0.6-0.6,1.3-1.2,1.9-1.9
                                        c0.6-0.6,1.3-1.2,1.9-1.9c0.6-0.5,1.1-1,1.7-1.6c0.5-0.5,1.3-0.5,1.8,0c0.2,0.2,0.5,0.4,0.6,0.6c0.6,0.6,0.6,1.5-0.1,2l-0.1,0.1
                                        c-0.6,0.6-1.1,1.1-1.7,1.7c-0.6,0.6-1.4,1.3-2,1.9C13,7.8,12.4,8.4,11.8,9c-0.6,0.6-1.4,1.3-2,1.9s-1.3,1.2-1.9,1.9
                                        c-0.2,0.2-0.4,0.4-0.6,0.6c-0.3,0.3-0.8,0.3-1.2,0c-0.3-0.3-0.5-0.5-0.8-0.8c-0.6-0.5-1-1-1.6-1.4C3.1,10.6,2.5,10,1.8,9.3
                                        c-0.3-0.4-0.7-0.7-1-1C0.4,8,0.4,7.2,0.8,6.9C1,6.6,1.2,6.4,1.5,6.1c0.6-0.6,1.4-0.6,2,0c0.7,0.6,1.4,1.4,2.1,2
                                        C5.9,8.4,6.2,8.8,6.5,9.1z"></path>
                                </svg>
                            {% else %}
                                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.94189 16L16.3721 2.60399" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"></path>
                                        <path d="M16.3721 15.915L2.94191 2.51903" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"></path>
                                </svg>
                            {% endif %}
                        </td>
                        <td style="border-color: inherit">
                            {% if block.settings.product4_row_radio == 'tick' %}
                                <svg class="bold_check_icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19.1 14.4" style="enable-background:new 0 0 19.1 14.4;" xml:space="preserve">
                                    <path fill="#A6C956" d="M6.5,9.1C6.6,9,6.7,9,6.7,9c0.5-0.5,1-1,1.5-1.4c0.5-0.5,0.8-0.8,1.3-1.3c0.6-0.6,1.3-1.2,1.9-1.9
                                        c0.6-0.6,1.3-1.2,1.9-1.9c0.6-0.5,1.1-1,1.7-1.6c0.5-0.5,1.3-0.5,1.8,0c0.2,0.2,0.5,0.4,0.6,0.6c0.6,0.6,0.6,1.5-0.1,2l-0.1,0.1
                                        c-0.6,0.6-1.1,1.1-1.7,1.7c-0.6,0.6-1.4,1.3-2,1.9C13,7.8,12.4,8.4,11.8,9c-0.6,0.6-1.4,1.3-2,1.9s-1.3,1.2-1.9,1.9
                                        c-0.2,0.2-0.4,0.4-0.6,0.6c-0.3,0.3-0.8,0.3-1.2,0c-0.3-0.3-0.5-0.5-0.8-0.8c-0.6-0.5-1-1-1.6-1.4C3.1,10.6,2.5,10,1.8,9.3
                                        c-0.3-0.4-0.7-0.7-1-1C0.4,8,0.4,7.2,0.8,6.9C1,6.6,1.2,6.4,1.5,6.1c0.6-0.6,1.4-0.6,2,0c0.7,0.6,1.4,1.4,2.1,2
                                        C5.9,8.4,6.2,8.8,6.5,9.1z"></path>
                                </svg>
                            {% else %}
                                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.94189 16L16.3721 2.60399" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"></path>
                                        <path d="M16.3721 15.915L2.94191 2.51903" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"></path>
                                </svg>
                            {% endif %}
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
      

  
</section>


{% schema %}
{
  "name": "Comparison Table",
  "settings": [
    // Heading
    {
        "type": "text",
        "label": "Table Heading",
        "id": "table_heading",
        "default": "Why are people choosing Suja?"
    },
    //Table Header
    {
        "type": "image_picker",
        "label": "Product1 Picture",
        "id": "product1_pic"
    },
    {
        "type": "text",
        "label": "Product1, Title",
        "id": "product1_title",
        "default": "Suja Organic Greens Powder"
    },

    {
        "type": "image_picker",
        "label": "Product2 Picture",
        "id": "product2_pic"
    },
    {
        "type": "text",
        "label": "Product2, Title",
        "id": "product2_title",
        "default": "Suja Organic Greens Powder"
    },

    {
        "type": "image_picker",
        "label": "Product3 Picture",
        "id": "product3_pic"
    },
    {
        "type": "text",
        "label": "Product3, Title",
        "id": "product3_title",
        "default": "Suja Organic Greens Powder"
    },

    {
        "type": "image_picker",
        "label": "Product4 Picture",
        "id": "product4_pic"
    },
    {
        "type": "text",
        "label": "Product4, Title",
        "id": "product4_title",
        "default": "Suja Organic Greens Powder"
    },
    {
        "type": "color",
        "label": "Background Color",
        "id": "background_color",
        "default": "#000"
    },
    {
        "type": "color",
        "label": "Font Color",
        "id": "font_color",
        "default": "#fff"
    },
    {
        "type": "color",
        "label": "Border Color",
        "id": "border_color",
        "default": "#fff"
    }
  ],

  "blocks" : [
    {
        "type": "table_row",
        "name": "Table Row",
        "settings":[
            {
                "type": "text",
                "label": "Row, Title",
                "id": "row_title",
                "default": "Functional Mushrooms"
            },
            {
                "type": "radio",
                "label": "Product1, newRow",
                "id": "product1_row_radio",
                "options": [
                  {
                    "value": "tick",
                    "label": "Tick"
                  },
                  {
                    "value": "cross",
                    "label": "Cross"
                  }
                ],
                "default": "cross"
            },
            {
                "type": "radio",
                "label": "Product2, newRow",
                "id": "product2_row_radio",
                "options": [
                  {
                    "value": "tick",
                    "label": "Tick"
                  },
                  {
                    "value": "cross",
                    "label": "Cross"
                  }
                ],
                "default": "cross"
            },
            {
                "type": "radio",
                "label": "Product3, newRow",
                "id": "product3_row_radio",
                "options": [
                  {
                    "value": "tick",
                    "label": "Tick"
                  },
                  {
                    "value": "cross",
                    "label": "Cross"
                  }
                ],
                "default": "cross"
            },
            {
                "type": "radio",
                "label": "Product4, newRow",
                "id": "product4_row_radio",
                "options": [
                  {
                    "value": "tick",
                    "label": "Tick"
                  },
                  {
                    "value": "cross",
                    "label": "Cross"
                  }
                ],
                "default": "cross"
            }
        ]
    }
  ],
  
  "presets" : [
    {
        "category": "Table",
        "name": "Table Sec"
    }
  ]
}
{% endschema %}
