<style>
  .card-media_head-main{
    align-self:end;
  }
 .card-image-main{
   width:14.4621%;
   display: grid;
   grid-template-rows: 1fr 300px;
    transition: all 0.4s ease;
   opacity:0.6;
 } 
  .card-image-main.active{
    width:23.6464%;
    opacity:1;
  }
.main-slider{
  display:flex;
  gap:15px;
 height:100%;

}
  .sliding-cards-main{
    padding:0px 40px;
  }
.card-media-m{
  padding-bottom:10px;
  
}
  .card-h {
    border-top: 1px solid white;
    margin-top: 10px;
    padding-top: 12px;
    font-size: 30px;
}
.card-disc-h p{
  margin-bottom:2px;
  font-weight:bold;
  margin-top:20px;
}
.card-disc-h strong{
  font-weight:bold;
}
.card-disc-main{
  display:none;
  opacity:0;
  transition: opacity 0.5s ease;
  transition-delay:0.4s;
}
.card-image-main.active .card-disc-main{
  display:block;
  opacity:1;
  transition: opacity 0.5s ease;
  transition-delay:0.5s;
}
@media screen and(max-width:1104px){
  
}
</style>
<div class="sliding-cards-main">
  <div class="mobile-buttons-h">
    <div class="main-btns">
      {% for block in section.blocks %}
        <div class="mainbtns">
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="main-div-sliding">
    <div class="main-slider">
      {% for block in section.blocks %}
        <div class="card-image-main {% if forloop.first %} active {% endif %}">
          <div class="card-media_head-main">
            <div class="card-media-m">
              <div class="card-m">
                <div class="image-card">
                  <img src={{ block.settings.imgcard | img_url:"master" }} alt="{{ block.settings.subhcard }}">
                </div>
                {% if block.settings.videocard != blank %}
                <div class="video-div">
                  <video></video>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="card-h">
              {{ block.settings.mainhcard }}
            </div>
          </div>
          <div class="card-disc-main">
            <div class="card-disc-h">
              {{ block.settings.subhcard }}
            </div>
            <div class="main-disc-text">
              {{ block.settings.textcard }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var allCards = document.querySelectorAll(".card-image-main");

  allCards.forEach(function(card) {
    card.addEventListener("click", function() {
      // Remove 'active' class from all cards
      allCards.forEach(function(otherCard) {
        otherCard.classList.remove("active");
        var textDiv = otherCard.querySelector(".card-disc-main");
        textDiv.style.display = "none";
        textDiv.style.opacity = "0";
      });

      // Add 'active' class to the clicked card
      card.classList.add("active");

      // Display content for the clicked card
       
        var textDiv = card.querySelector(".card-disc-main");
        textDiv.style.display = "block";
      setTimeout(function() {
        textDiv.style.opacity = "1";
      }, 40);
    
    });
  });
});
</script>

{% schema %}
  {
    "name": "sliding-images-videos",
    "settings": [],
    "blocks":[
      {
        "name":"card",
        "type":"card-image",
        "settings":[
{
  "type":"image_picker",
  "label":"Add Image",
  "id":"imgcard"
},
          {
            "type":"url",
            "label":"Add video link",
            "id":"videocard"
          },
          {
            "type":"text",
            "label":"Add main heading",
            "id":"mainhcard"
          },
          {
            "type":"richtext",
            "label":"Add SubHeading",
            "id":"subhcard"
          },
          {
            "type":"richtext",
            "label":"Add Text",
            "id":"textcard"
          }
        ]
          
        
      }
    ],
    "presets":[
      {
        "name":"sliding-images-video",
        "category":"secsliding"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}